<!-- Commandes -->

<!-- <div class="row">
  <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Lumières</h4>
        <app-lights></app-lights>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Porte</h4>
        <app-door></app-door>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Alarme</h4>
        <app-alarm></app-alarm>
      </div>
    </div>
  </div>
</div> -->
<div class="card" [ngStyle]="{'height': '100%'}">
  <div class="card-body">
    <h4 class="card-title">{{ type }}</h4>
    <div class="d-sm-flex justify-content-around flex-wrap">
      <app-actuator *ngFor="let device of devices" [id]="device.id" [type]="device.type" [state]="device.state"></app-actuator>
    </div>
  </div>
</div>
<!-- Fin Commandes-->