<div class="content-wrapper">
  <div class="page-header">
    <h3 class="page-title">
      <span class="page-title-icon bg-primary text-white mr-2">
        <i class="mdi mdi-account-settings-variant"></i>
      </span>
      <span class="text-grayMat">Personnes reconnues</span>
    </h3>
  </div>
  <ul>
    <li>Pour supprimer des photos d'une personne, cliquez sur <i class="mdi mdi-lead-pencil icon-sm text-primary"></i>
      puis selectionner les photos. Ensuite cliquez sur <i class="mdi mdi-check icon-sm text-primary"></i> pour
      confirmer.</li>
    <li>Pour supprimer une personne particulière, cliquez sur <i class="mdi mdi-delete icon-sm text-danger"></i>
      puis cliquez sur <i class="mdi mdi-check icon-sm text-success"></i> pour confirmer ou sur <i class="mdi mdi-window-close icon-sm text-danger"></i>
      pour annuler.</li>
  </ul>

  <div class="row">
    <div class="col-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Diamondra Rasoamanana&nbsp;
            <button type="button" class="modif-face btn btn-outline-primary btn-rounded btn-icon" style="margin-left: 5px">
              <i class="mdi mdi-lead-pencil text-primary"></i>
            </button>

            <button type="button" class="button-delete btn btn-inverse-danger btn-rounded btn-icon" style="margin-left: 5px">
              <i class="mdi mdi-delete"></i>
            </button>

            <span class="confirm-delete hidden">
              <button type="button" class="button-confirm btn btn-success btn-rounded btn-icon" style="margin-left: 5px">
                <i class="mdi mdi-check"></i>
              </button>
              <button type="button" class="button-cancel btn btn-danger btn-rounded btn-icon" style="margin-left: 5px">
                <i class="mdi mdi-window-close"></i>
              </button>
            </span>
          </h4>

          <div class="mt-4" style="">
            <span class="img-face" style="position: relative">
              <img style="border-radius: 3px" src="/src/assets/images/faces/face1.jpg">
              <!--<div style="position: absolute; top: -36px; right: 6px; border-radius: 20px; opacity:0.9" class="bg-primary close-window">
                    <i class="mdi mdi-window-close text-white"></i>
                   </div>-->
            </span>
            <span class="img-face" style="position: relative">
              <img style="border-radius: 3px" src="/src/assets/images/faces/face2.jpg"> </span>

            <span class="img-face" style="position: relative">
              <img style="border-radius: 3px" src="/src/assets/images/faces/face3.jpg"> </span>

            <span class="img-face" style="position: relative">
              <img style="border-radius: 3px" src="/src/assets/images/faces/face4.jpg"> </span>

            <span class="img-face" style="position: relative">
              <img style="border-radius: 3px" src="/src/assets/images/faces/face5.jpg"> </span>

            <span class="img-face" style="position: relative">
              <img style="border-radius: 3px" src="/src/assets/images/faces/face6.jpg"> </span>

            <span class="img-face" style="position: relative">
              <img style="border-radius: 3px" src="/src/assets/images/faces/face7.jpg"> </span>

            <span class="img-face" style="position: relative">
              <img style="border-radius: 3px" src="/src/assets/images/faces/face8.jpg"> </span>

            <span class="img-face" style="position: relative">
              <img style="border-radius: 3px" src="/src/assets/images/faces/face8.jpg"> </span>

            <span class="img-face" style="position: relative">
              <img style="border-radius: 3px; height: 100px; width: auto" src="/src/assets/images/faces/face28.jpg">
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Safidinirina Razafiarison&nbsp;
            <button type="button" class="modif-face btn btn-outline-primary btn-rounded btn-icon" style="margin-left: 5px">
              <i class="mdi mdi-lead-pencil text-primary"></i>
            </button>

            <button type="button" class="button-delete btn btn-inverse-danger btn-rounded btn-icon" style="margin-left: 5px">
              <i class="mdi mdi-delete"></i>
            </button>

            <span class="confirm-delete hidden">
              <button type="button" class="button-confirm btn btn-outline-success btn-rounded btn-icon" style="margin-left: 5px">
                <i class="mdi mdi-check"></i>
              </button>
              <button type="button" class="button-cancel btn btn-outline-danger btn-rounded btn-icon" style="margin-left: 5px">
                <i class="mdi mdi-window-close"></i>
              </button>
            </span>
          </h4>

          <div class="template-demo mt-4">
            <span class="img-face" style="position: relative">
              <img style="border-radius: 3px" src="/src/assets/images/faces/face10.jpg">
              <!--<div style="position: absolute; top: -36px; right: 6px; border-radius: 20px; opacity:0.9" class="bg-primary close-window">
                    <i class="mdi mdi-window-close text-white"></i>
                   </div>-->
            </span>
            <span class="img-face" style="position: relative">
              <img style="border-radius: 3px" src="/src/assets/images/faces/face11.jpg"> </span>

            <span class="img-face" style="position: relative">
              <img style="border-radius: 3px" src="/src/assets/images/faces/face13.jpg"> </span>

            <span class="img-face" style="position: relative">
              <img style="border-radius: 3px" src="/src/assets/images/faces/face14.jpg"> </span>

            <span class="img-face" style="position: relative">
              <img style="border-radius: 3px" src="/src/assets/images/faces/face15.jpg"> </span>

            <span class="img-face" style="position: relative">
              <img style="border-radius: 3px" src="/src/assets/images/faces/face16.jpg"> </span>

            <span class="img-face" style="position: relative">
              <img style="border-radius: 3px" src="/src/assets/images/faces/face17.jpg"> </span>

            <span class="img-face" style="position: relative">
              <img style="border-radius: 3px" src="/src/assets/images/faces/face18.jpg"> </span>

            <span class="img-face" style="position: relative">
              <img style="border-radius: 3px" src="/src/assets/images/faces/face19.jpg"> </span>

            <span class="img-face" style="position: relative">
              <img style="border-radius: 3px; height: 100px; width: auto" src="/src/assets/images/faces/face28.jpg">
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>