<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title">
            <span class="page-title-icon bg-gradient-primary text-white mr-2">
                <i class="mdi mdi-timetable"></i>
            </span>
            <span class="text-grayMat">Historique</span>
        </h3>
        <nav aria-label="breadcrumb">
            <ul class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">
                    <span class="mr-1">Résumé</span>
                    <i class="mdi mdi-eye icon-sm text-primary align-middle"></i>
                </li>
            </ul>
        </nav>
    </div>

    <div class="row">
        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-3 col-5">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <button class="btn btn-md btn-primary dropdown-toggle" type="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">Filtre</button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item fadeInDown" (click)="filter='entry'">Liste des entrées</a>
                            <a class="dropdown-item fadeIn1" (click)="filter='passing'">Liste des passages</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-4 col-7">
            <div class="form-group">
                <div class="input-group clearfix">
                    <input class="form-control calendar" style="background-color: white" id="date" name="date"

                        placeholder="Selectionnez une date..." type="date" #date>
                    <div class="input-group-addon input-group-append" (click)="sort(date.value)">

                        <span class="input-group-text bg-primary text-white"><i class="mdi mdi-timetable"></i></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 offset-xl-3 col-lg-4 offset-lg-2 col-md-5 offset-md-1 col-12">
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control search-input" placeholder="Rechercher des évènements" style="border-radius: 30px 0 0 30px; border-style: none">
                    <div class="input-group-append">
                        <span class="input-group-text bg-white search-input-append" style="border-radius: 0 30px 30px 0; border: 3px solid white"><i
                                class="mdi mdi-magnify text-primary" style=""></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section [ngSwitch]="filter" id="cd-timeline" class="cd-container fadeIn" style="animation-duration: 0.5s">
        <ng-container *ngSwitchCase="'entry'">
            <div class="cd-timeline-block" *ngFor="let entry of (entries$ | async)">
                <app-entry [name]="entry.persons.name" [dataUrl]="entry.persons.string_img" [date]="entry.date">
                </app-entry>
            </div>
        </ng-container>
        <ng-container *ngSwitchCase="'passing'">
            <div class="cd-timeline-block" *ngFor="let passing of (passing$ | async)">
                <app-passing [dataUrl]="passing.image" [date]="passing.date">
                </app-passing>
            </div>
        </ng-container>
    </section>
</div>